[submodule "settings"]
	path = settings
	url = git@git.ribbe.se:abjier/src/modules/settings.git
[submodule "flashlowlevel"]
	path = flashlowlevel
	url = git@git.ribbe.se:abjier/src/modules/flashlowlevel.git
