*.c         eol=lf
*.cpp       eol=lf
*.hpp       eol=lf
*.dsl       eol=lf
*.setdef    eol=lf
*.memdef    eol=lf
*.h         eol=lf
*.txt       eol=lf
*.s         eol=lf
*.ld        eol=lf
*.py        eol=lf
*.dsg       eol=lf
_SConscript eol=lf
SConstruct  eol=lf
Doxyfile    eol=lf